<a class="logo" href="{{@site.url}}">
    {{#if @site.logo}}
        <img class="logo-image" src="/content/images/logo-prototype.svg" alt="{{@site.title}}">
    {{else}}
        <span class="logo-text">{{@site.title}}</span>
    {{/if}}
</a>