<div class="row">
    <div class="col-12">
        <div class="apps-wrapper d-flex justify-content-around">
            <div class="app-icon-google"></div>
            <div class="app-icon-gmail"></div>
            <div class="app-icon-drive"></div>
            <div class="app-icon-calendar"></div>
            <div class="app-icon-slack"></div>
            <div class="app-icon-jira"></div>
            <div class="app-icon-confluence"></div>
            <div class="app-icon-invision"></div>
            <div class="app-icon-sketch"></div>
            <div class="app-icon-bamboo"></div>
        </div>
    </div>
</div>